<html>
<head>
    <title>{{.AppName}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class='info'>
    <p class=info>
    {{.Info}}
    </p>
    </div>
    <div class='box'>
        <div>
            <h1 class='h1-title'>{{.AppName}} subscription for {{.Username}}</h1>                   
        </div>
        <div class='form'>
            <form class='form-requestform' action="/subscribe/{{.Username}}" method="post">   
                {{- $currentSubAddresses := .CurrentSub.Addresses -}}
                {{- range .Types -}}                                                               
                <p><input class='input-username' type="text" name="address-{{.Type}}" placeholder="enter {{.Type}} address" value="{{index $currentSubAddresses .Type}}" pattern={{.ValidationRE}}></p>                
                {{ end }}
                <p><input class='input-submit' type="submit" value="SAVE"></p>                
            </form>
        </div>

        <div>
        {{- if .Subscribed -}}
            <h1 class='h1-subtitle'><font color=green>Subscription active</font></h1>
            <h1 class='h1-subtitle'>If you want to unsubscribe: press save with blank address field(s)</h1>            
        {{- else -}}
            <h1 class='h1-subtitle'><font color=red>No subscription active</font></h1>            
        {{- end -}}
        </div>
    </div>    
</body>
</html>